h2,h3{
    color: #333C4A;
    text-align: center;
}

h1{
    color:Red;
}

.nav-bar{
    text-align: center;
}

a{
    color: #F6F7D3;
    text-decoration:none
}

a:hover{
    text-decoration:none
}

li{
    color: #333C4A;
    text-align: center;
}

body{
    background-color: #F6F7D3;
}

.guitar, .saz, .davul , .harmonica{
    text-align: center;
}

.list-group{
    background-color: transparent;
}